<ion-view style="background-color:rgba(40, 30, 30, 0.08)" >

  <ion-header-bar class="headerbar" style="background-color: #111;" ng-style="ionheader">
    <div class="header-left">
      <button ng-click="Undo()" class="button button-positive button-icon icon ion-reply "></button>
      <button ng-click="Redo()"  class="button button-positive button-icon icon ion-forward "></button>
      <button class="button button-positive button-icon icon" ng-click="Pass()">
         <i class="far fa-copy"></i>
      </button>
      <button  event-focus="click" event-focus-id="Javascript_example" class="button button-positive button-icon icon" ng-click="Addtext()">
      <i class="fas fa-text-height"></i>
      </button>
      <button class="button button-positive button-icon icon" ng-click="anime(backgroundimage);backgroundimage=!backgroundimage">
        <i class="far fa-file-image"></i>
      </button>
      <div ng-show="backgroundimage" class="images" click-outside="backgroundimage=false">
      <button class="button button-positive a" style="background-color: rgba(255, 255, 255, 1);color: black" ng-click='backgroundimage=false' file-browserbg>BG</button>
      <button class="button button-positive b" style="background-color: rgba(255, 255, 255, 1);color: black" ng-click='backgroundimage=false' image>Img</button>

      <button class="button button-positive b" style="background-color: rgba(255, 255, 255, 1);color: black"  >color<input  id="myColorbg" ng-model="data.colorbg" ng-change="changecolorbg()"  style="width: 40px;height: 40px;opacity: 0;position: absolute;z-index: 10;left: 0px;top: 0px" type="button"  colorpicker></input></button>

      <button class="button button-icon icon ion-close-round c" style="background-color: rgba(255, 255, 255, 1)" ng-click="deletebg()"></button>
    </div>
     
    </div>
    <div class="header-right">
     <button  class="button button-positive button-icon icon"  ng-click="showlist=!showlist;" >
           <i class="fas fa-ellipsis-v"></i>
      </button>
       <div ng-show="showlist"  class="showlist"  ng-click="showlist=false" click-outside="showlist=false">
        <ul class="list">
          <div class="button  row" style="padding: 3px;height: 50px"  ng-click="showPopup()">New</div> 
     
           <div class="button row" style="padding: 3px;height: 50px;border-top-color: rgba(0, 0, 0, 0.25);border-top-width: 0.5px" ng-click="saveJson()"   >Save</div> 
            <div style="padding: 3px;height: 50px" class="button row" >Save & Continue</div> 
           
            
             <div style="padding: 3px;height: 50px" class="button row" ng-click='saveImg(3)'>Download</div> 
              <div style="padding: 3px;height: 50px;border-top-color: rgba(0, 0, 0, 0.25);border-top-width: 0.50px  " class="button button-light row"    ng-click="delete()"> Clear Canvas</div> 
               <div style="padding: 3px;height: 50px" class="button button-light row" >Cancel Changes</div> 
        </ul>
      </div>
    </div>
  </ion-header-bar>
  <ion-content ng-style="ioncontent">
     <div  class="flex-container"  style="height:64% ; background-color: rgb(162, 162, 162,0.5);overflow: auto;">

        <div ng-style="shadowstyle" style="margin:0 auto;left: 0px;box-shadow:0px 0px 50px  grey;position: relative;"  id="flex" >
           <!--<svg id="someSvgElementId" xmlns="http://www.w3.org/2000/svg" style="position: absolute; z-index: 3;width: 100%;"></svg>-->
           <div id="xy">
           <div class="ruy" ng-repeat="number in ruleroutside" id="y" style="{{number.style}}"><div class="number">{{number.number}}</div></div>
           <div class="rux" ng-repeat="number in ruleroutsidex" id="x" style="{{number.style}}"><div style="{{number.text}}" class="numberx">{{number.number}}</div></div>
           </div>
           

       
      <canvas   id="c" ng-style="canvas" width="360px " height="370px" style=" border:1px solid #ccc;"></canvas>
   
    </div>
  </div>
    <div class="button button-small button-light rangeruler-in" ng-click="full(state);" style="position: absolute; top:520px;left:170px; border-radius: 100%;border-color: rgba(0, 0, 0, 0.07);color: transparent;border-width: 2px"  ng-show="!state" > </div>
     <button ng-click="Undo()" ng-show="!state" style="color: black;position: absolute;left: 0;top:570px" class="button button-positive button-icon icon ion-reply "></button>
      <button ng-click="Redo()" ng-show="!state" style="color: black;position: absolute;left: 50px;top:570px"  class="button button-positive button-icon icon ion-forward "></button>
    <!--   DRAW OR DRAG   -->
 <!-- ADD new code -->


    <!--   DRAW OR DRAG   -->
    <div> 
      <div class="row editsquare row1">
         <div style="position: absolute;">
    <div class="shape"  ng-show="data.showshape">
      <div class="row">
        <button class="button button-light button-outline " ng-repeat="shape in listshape" ng-click="mode(1,shape);">
          <center>
            <img class="imgshape" src="../img/{{shape}}.png">
            <div class="inline" ng-if="shape==shapes"></div>
          </center>
        </button>
        <button class="button button-light button-outline"  ng-click="setfill(data.fill);data.fill=!data.fill" ng-model="data.fill" >
          <img class="imgshape" src="../img/fill.png">
          <img ng-if="data.fill!= false" class="checkmark" src="../img/checkmark.png"></img>
        </button>
        <button ng-click="Dashed()" class="button button-light button-outline"><img class="imgshape" src="../img/dashed.png" style="border-radius: 50%;">
          <img ng-if="isdashed!= false" class="checkmark" src="../img/checkmark.png"></img>
        </button>          
      </div>
    </div>
</div>
    <!-- -->

     <div style="position: absolute;">
        <div class="shapes" ng-show="data.showstraight">
      <div class="row">

      <button class="button button-light button-outline" ng-repeat="straight in liststraight" ng-click="mode(1,straight)">
       <center><img class="imgshape" src="../img/{{straight}}.png"><div class="inline" ng-if="straight==shapes"></center>
         <button ng-click="Dashed()" class="button button-light button-outline"><img class="imgshape" src="../img/dashed.png" style="border-radius: 50%;"><img ng-if="isdashed!= false" class="checkmark" src="../img/checkmark.png"></img></button>
      </button>
      </div>
    </div>
    </div>
        <!-- COl -->
        <div class="col">
          <div class="row draw_drag">
            <label class="toggle" style="margin-top: -1px">
             <div class="note" style="top: 36px;" >Draw</div>
                <input type="checkbox" ng-model="data.draw" ng-click="mode(data.draw,0,0,0)">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>      
        </div>
        
        <!-- COl -->
        <div class="col zindex">
          <button class="button button-icon icon" ng-click="data.showshape=!data.showshape;data.showstraight=false;mode(1,0)" style="padding: 0 0 0 6px;">
            <img class="imgshape" src="../img/shape.png">
          </button>         
        </div>
        <!-- COl -->
        <div class="col zindex">
          <button class="button button-icon icon " ng-click="data.showstraight=!data.showstraight;data.showshape=false;mode(1,0)">
            <img class="imgshape" src="../img/straight.png">
          </button>
        </div>
        <!-- COl -->
        <div class="col button button-icon b" colorpicker   id="myColor" ng-change="changecolor()" ng-model="data.colorbrush">
       
              <span style="font-size: 21.8px;">
                <i class="fas fa-palette"></i>
              </span>
              <div class="note line" style="top: 75%;">Line
                <span style="color:{{data.colorbrush}}; font-size: 25px; line-height: 0; vertical-align: sub;">&#8226;</span>
              </div>          
         
                
        </div>
        <!-- COl -->
        <div class="col button button-icon c" colorpicker    ng-model="data.colorfill" id="myColorfill" ng-change="fill()">
          <div class="box">
            <div class="toggle">
              <div class="zindex ">
                <img class="imgshape"  src="../img/fill.png">
              </div>
              <div class="note fill" style="top:109%;" >Fill
                <span style="color:{{data.colorfill}}; font-size: 25px; line-height: 0; vertical-align: sub;">&#8226;</span>
              </div>          
            </div>            
          </div>

        </div>        
        <!--- COL --->

        <div class="col button button-icon b" ng-click="objects()" >
        
              <span style="font-size: 25px;">
                <i class="far fa-object-group"></i>
              </span>
              <div class="note" style="top: 43px;" >Objects</div>         
          
           
        </div>  
      </div>
      <div class="object funky-show-hide" ng-show="data.show"  click-outside="data.show=false">
         <ion-item  class="row"  style=" position:relative; z-index: 3;background-color: white;" >
         <center>Objects</center>
          </ion-item></br>
       <ion-list>

        <div>
          <ion-item click-outside="isselect=false"  class="row" ng-repeat="value in data.paraobjects track by  $index"  style="margin-top: 10px" ng-click="selectobject({{$index}},value.type);data.draw=false;mode(0,'');data.showshape=false;data.showstraight=false">
          <div class="portrait"><img src="{{value.image}}" class="imgg"></img> </div>
          <div ng-if="$index==data.paraobjects.length-1" style="position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;background-color: transparent;border: solid blue;border-width:  1px;"></div></ion-item></br>
        </div>
      </ion-list>
      </div>
      <a class="itext itext-show-hide" ng-show="showitext" >
          <div class="row textt">
            <button class="button button-small button-positive noborder" ng-click="dtEditText('bold')">
                <i class="fas fa-bold"></i>
            </button>
            <button class="button button-small button-positive noborder" ng-click="dtEditText('italic')">
              <i class="fas fa-italic"></i>
            </button>
           <button class="button button-small button-positive noborder" ng-click="dtEditText('underline')">
              <i class="fas fa-underline"></i>
            </button>
            <select class="selectfont" ng-options="item as item for item in font " style="margin-right: 3px;" ng-model="item" ng-change="update(item)">

              <input  type="text" ng-click="input()" style="margin: auto;" ng-change="textedit(data.text)"  id="Javascript_example" placeholder="Text" ng-model="data.text"  >
              
          </div>
      </a>
      <!--  -->
      <div class="row editsquare row2" style="margin-top: 0;">
        <div class="col">
          <div class="row" style="margin: 0;">
            <label class="toggle toggle-positive">
              <div class="note" style="top: 42px;">Grid</div>
              <input type="checkbox" ng-model="data.ruler"  ng-click="ruler();setzoom(data.zoom);data.rulersize=false">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>  
        </div> 

        <div class="col">
          <div class="row" style="margin: 0;">
            <label class="toggle toggle-positive">
              <div class="note" style="top: 42px;">Move</div>
              <input type="checkbox" ng-model="data.scroll"  ng-click="move(data.scroll);data.showshape=false;data.showstraight=false">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>  
        </div> 

        <div class="col-dif" style="width: 40.5%; margin-left: 9px;">
          <div class="range opacitylevel " style="padding: 0!important">
            <div class="opanlevel " ng-style="opanlevel"></div>
            <div class="maxopanlevel"></div>
             <div class="note" style="top: 40px;">Opancity</div>
            <input type="range" ng-change="setlevelo(data.valueo)" style="margin:0!important;display: inline-block; background:linear-gradient(to right, grey {{data.valueo*100 }}%, rgb(204, 204, 204) 0%) center center / 90% 2px no-repeat;width: 110px;" ng-model="data.valueo" min="0" max="1" step="0.1">
          </div>

        </div>        
        <div class="col-dif" style="width: 40.5%">
          <div class="range opacitylevel linelevel" style="padding: 0!important">
            <div class="lineweight"></div>
           <div class="note" style="top: 40px;">Line weight</div>
            <input type="range" style="margin:0!important;display: inline-block; background:linear-gradient(to right, grey {{(data.value*100)/20}}%, rgb(204, 204, 204) 0%) center center / 90% 2px no-repeat; width:100px;" ng-change="setlevel(data.value)" ng-model="data.value" min="{{min}}" max="{{max}}">
        
          </div>
        </div>    
      </div>
  
      <div class="button-delete">        
      <a class="button button-icon icon ion-trash-a col btn-del" ng-click="clear()"></a>
      </div>   
   
    </div>
        <div  class="range hoverWrapper  rangeruler-in" ng-show="data.rulersize">
             <div class="note">Ruler Size</div>
            <input type="range" ng-model="data.zoom" class="ranges" style=" rgb(204, 204, 204) 0%) center center / 90% 2px no-repeat; width:100px;" ng-change="setzoom(data.zoom);setzoomobject(data.zoom)" min="{{zoomless}}" max="{{zoommax}}" step="15"></input>
        <center>    <button   class="button button-small" ng-model="data.autosnap"  ng-click="autosnap(data.autosnap);">Auto Snap <img class="imgshape checkmark"  src="../img/checkmark.png"   ng-show="data.autosnap" /></button></center>
  
    </div>  

     <button   class="button button-small button-icon zoomimg" ng-show="data.ruler" ng-model="data.rulersize" style="position: absolute;top: 58%;left: 0px" ng-click="data.rulersize=!data.rulersize"><img class="imgshape" style="opacity: 0.5;" src="../img/zoom.png"></img></button>
     <script type="text/ng-template" id="modal.html">
 <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">CHOOSE THE SIZE</h1>            
        </ion-header-bar>
        <ion-content style="margin-top:10%">
       <button ng-click="sizepage(size.img)" class="button  button-block button-positive button-outline " ng-repeat="size in sizes"><center> {{size.name}}, {{size.size}}</center></button> 
        </ion-content>
     </ion-modal-view>
    </script>


  </ion-content>
</ion-view>